html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-image: url("../public/bground.jpg");
  background-size: cover;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  max-width: 700px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}